<div class="row">
<%= bookmarks.each do |b| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/360x210/4D76BC/000000&text=site+screen+shot+here!">
      <div class="caption">
        <p><%= link_to b.url, b.url %></p>
        <p><%= link_to "", root_path, class: 'glyphicon glyphicon-heart' %></p>
      </div>
    </div>
  </div>
<% end %>
</div>