<div class="container">
  <div class="col-md-4">
    <h1>New Topic</h1>
    <p>Create a new topic so you and other users can share the sites you love!</p>
  </div>
  <div class="col-md-8">
    <%= form_for @new_topic do |f| %>
      <div class="form-group">
        <%= f.label "Topic Name" %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'Enter a name for your topic!' %>
      </div>
      <%= f.submit "Save", class: 'btn btn success' %>
    <% end %>
  </div>
</div>
