<div class="container">
  <div class="jumbotron">
    <h1>Markit</h1>
    <p>Manage your bookmarks and discover new sites effortlessly.</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Get your favorite sites sorted.</h2>
      <p>Send us the link with two clicks through email and we will get it sorted for you.</p>
    </div>
    <div class="col-md-4">
      <h2>Check out what's hot.</h2>
      <p>Discover what sites are hot among other users.</p>
    </div>
    <div class="col-md-4">
      <h2>Access your bookmarks anywhere.</h2>
      <p>With Markit, you never have to worry about your bookmarks any more. Simply login to your account and find your bookmarks anytime, anywhere.</p>
    </div>
  </div>
  
</div>