<div class="container">
  <div class="jumbotron text-center" style="background-color: #F4F2F0;">
    <h1>Markit</h1>
    <p>Manage your bookmarks and discover new sites effortlessly.</p>
    <p><%= link_to "Get Started Now!", new_user_registration_path, class: 'btn btn-success' %></p>
  </div>
  <div class="row center-block text-center">
    <div class="col-md-4">
      <img src="http://cdn.flaticon.com/png/256/25398.png" style="width: 35%" class="center-block">
      <h2>Get your favorite sites sorted.</h2>
      <p>Send us the link with two clicks through email and we will get it sorted for you.</p>
    </div>
    <div class="col-md-4">
      <img src="http://cdn.flaticon.com/png/256/24143.png" style="width: 35%" class="center-block">
      <h2>Check out what's hot.</h2>
      <p>Discover what sites are hot among other users.</p>
    </div>
    <div class="col-md-4">
      <img src="http://cdn.flaticon.com/png/256/65381.png" style="width: 35%" class="center-block">
      <h2>Access your bookmarks anywhere.</h2>
      <p>With Markit, you never have to worry about your bookmarks any more. Simply login to your account and find your bookmarks anytime, anywhere.</p>
    </div>
  </div>

  

</div>